APP_DB_PATH=stock_strategy.sqlite3
APP_DATA_SOURCE=akshare
APP_REMOTE_DB_URL=https://raw.githubusercontent.com/samcoolpop/stock-strategy-dashboard/main/stock_strategy.sqlite3
WENCAI_USER_DATA_DIR=.wencai_browser
WENCAI_HEADLESS=false

SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_TO=
